<h1>Posts</h1>
{{#each posts}}
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">

      <h2 class="card-title">{{title}} </h2>
      <h3  class="card-title">User: {{user.name}} </h3>
<h5  class="card-title">Category: {{category.name}} </h5>
      <p class="card-text">{{content}}</p>
      <p class="card-text">Date: {{date}}</p>{{#each comments}}
      <p class="card-text">{{comment}}123{{/each}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
{{/each}}