<div class="comments">
  {{#if comments.length}}<h3>Comments</h3>{{/if}}
  <ul class="list-group list-group-flush">

    {{#each comments}}<li>
        <p>{{comment}}
          ---
          <a href="/posts/{{user_id}}">{{user.name}}</a>
          --
          {{format_time date}}
          --
          <a href="/posts/{{post_id}}">Origin post</a></p></li>
    {{/each}}
  </ul>
</div>