<h1>Posts by Category</h1>
{{!-- {{#each posts}}
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">

      <h2 class="card-title">{{title}} </h2>
      <h3  class="card-title">User: {{user.name}} </h3>
<h5  class="card-title">Category: {{category.name}} </h5>
      <p class="card-text">{{content}}</p>
      <p class="card-text">Date: {{date}}</p>{{#each comments}}
      <p class="card-text">{{comment}}123{{/each}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
{{/each}} --}}

{{#if posts.length}}
  {{#each posts as |post|}}
    <div class="card mb-3" style="width: 80%;">
      <div class="row g-0">
        {{! <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="..." />
      </div> }}
        <div class="col-md-12">
          <div class="card-body">
            <a href="/posts/{{id}}"><h2 class="card-title">{{title}} </h2></a>
            <p class="card-text">{{content}}</p>
            <div class="meta"><h5 class="card-title left">User:
                <a href="/postsbyuser/{{user.id}}">{{user.name}}</a>
              </h5>
              <h5 class="card-title right">Category:
                <a href="/postsbycat/{{category.id}}">{{category.catname}}
                </a></h5>
              <p class="card-text"><small class="text-muted">Posted:
                  {{format_time date}}</small></p></div>
            <div class="comments">{{#if comments.length}}<h3
                >Comments</h3>{{/if}}
              <ul class="list-group list-group-flush">

                {{#each comments}}
                  <li class="list-group-item">{{comment}}
                    -
                    {{user.name}}

                  </li>
                {{/each}}
</div></div></div></div>
         
    </div>{{/each}}
{{/if}}
{{! <script src="/js/index.js"></script> }}
<script src="/js/profile.js"></script>