<div class="row oner">
  <div class="oner">
    <h2>Welcome {{name}}!</h2>
  </div>
</div>
<form
  width="100%"
  class="submitpost"
  onsubmit="setTimeout(function(){window.location.reload();},10);"
><label><h3>Post Title</h3></label><br />
  <input class="post-title-input" type="text" width="300px" id="ptinput" /><br
  /><label><h3>Post Content</h3></label><br />
  <textarea
    class="post-title-input"
    type="text"
    cols="40"
    rows="5"
    id="pstcnt"
  ></textarea><label for="category"><h3>Choose a Category:</h3></label>

  <select name="category" id="cat">
    {{#each categories}}<option value="{{id}}">{{catname}}</option>{{/each}}
  </select><br /><button
    type="submit"
    class="btn btn-primary"
  >Post</button></form>
{{#if posts.length}}
  {{#each posts as |post|}}
    <!-- Button trigger modal -->

    <div class="card mb-3" style="width: 80%;">
      <div class="row g-0">
        {{! <div class="col-md-4">
        <img src="..." class="img-fluid rounded-start" alt="..." />
      </div> }}
        <div class="col-md-12">
          <div class="card-body">
            <a href="/posts/{{id}}"><h2 class="card-title">{{title}} </h2></a>
            <p class="card-text">{{content}}</p>
            <div class="meta"><h5 class="card-title left">User:
                <a href="/postsbyuser/{{user.id}}">{{user.name}}</a>
              </h5>
              <h5 class="card-title right">Category:
                <a href="/postsbycat/{{category.id}}">{{category.catname}}
                </a></h5>
              <p class="card-text"><small class="text-muted">Posted:
                  {{format_time date}}</small></p></div>
            <div class="comments">{{#if comments.length}}<h3
                >Comments</h3>{{/if}}
              <ul class="list-group list-group-flush">
                {{comment.comment}}
                -
                {{#each comments}}
                  <li class="list-group-item">{{comment}}
                    -
                    {{name}}

                  </li>
                {{/each}}

              </ul>

            </div>
            <form
              width="20%"
              class="deletebtn"
              id="deletebtn"
              onsubmit="setTimeout(function(){window.location.reload();},10);"
            ><input
                class="postid"
                type="number"
                width="300px"
                id="pstid"
                value="{{id}}"
              /><button type="submit" class="btn btn-primary dlt">Delete post</button></form><a
              href="/edit/{{id}}"
            ><button type="submit" class="btn btn-primary edit">edit post</button></a>
            {{!-- <form
              width="20%"
              class="editbtn"
              id="editbtn"
              {{! onsubmit="setTimeout(function(){window.location.reload();},10);" }}
            ><button
                type="submit"
                class="btn btn-primary edt"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >Edit post</button></form> --}}
            {{! <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Launch demo modal
            </button> }}
          </div>
        </div>
      </div></div>{{/each}}
{{/if}}

<!-- Button trigger modal -->
{{! <button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  Launch demo modal
</button> }}

<!-- Modal -->

<script src="/js/post.js"></script>
<script src="/js/delete.js"></script>
<script src="/js/index.js"></script>